.container {
	display: flex;
	height: 100%;
}

.hand_container {
	flex: 1;
	height: 100%;
}

.stats p {
	margin: 0;
}

.end_turn_button {
	display: inline-block;
	cursor: pointer;
	border: 1px solid white;
	padding: 10px;
}